/* 모든 파일 공통 CSS */
@import url('/static/css/common.css');

.studyWrap {
  min-height: 100vh;
}

/* 스터디 구분 한 컨테이너 */
.studySection {
  height: 200px;
}

/* 모집중 / 참여중 스터디 섹션 */
.leaderStudy .studyStatus {
  height: 100%;
  background-color: rgb(164, 207, 164);
}

.crewStudy .studyStatus {
  height: 100%;
  background-color: rgb(201, 219, 128);
}

/* 각 스터디에 대한 정보 확인할 수 있는 곳 */
.studyInfo {
  height: 80%;
}

/* 스터디 한개(ith)에 대한 설정 */
.studyInfo {
  position: relative;
}

.studyInfo .ithStudy {
  width: 200px;
  margin-right: 10px;
  transition: 0.5s;
}

.studyInfo .ithStudy:last-child {
  margin: 0;
}

.studyInfo .ithStudy .card-body {
  position: relative;
}

.studyInfo .ithStudy .study_category {
  position: absolute;
  top: 5%;
  left: 5%;
}

.studyInfo .ithStudy .study_status {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e6e660;
  border-radius: 10px;
  padding: 5px 8px;
  font-weight: 800;
}

.studyInfo .ithStudy:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

/* 스터디 정보 맨 마지막 항목은 마진 0 */
.studyInfo > div:last-child {
  margin: 0;
}
