<header class="position-fixed top-0 w-100 z-3">
  <!-- 헤더 / navbar start -->
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container">
      <div class="nav-item">
        <a href="/"><img src="/static/images/ssac-logo.png" class="rounded float-start" alt="..." width="50"></a>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav-menu"
            aria-controls="navbarNav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav-menu">
            <ul class="navbar-nav text-center">
              <% if (typeof session !== 'undefined') {
                if (session.isAdmin) { %>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">
                      <span class="">🔑</span>
                      <span class="">관리자</span>
                    </a>
                  </li>
                  <% }
              } %>

              <% if (typeof session !== 'undefined') { %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/study">
                  <span class="">📖</span>
                  <span class="">스터디</span>
                </a>
              </li>
              <% } %>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/board">
                  <span class="">📝</span>
                  <span class="">게시글 조회</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active">
                </a>
              </li>

              <li class="nav-item">
              <% if (typeof session === 'undefined') { %>
                <!-- 로그인 버튼 -->
                <button
                  id="loginBtn"
                  type="button"
                  class="btn text-light fw-bold"
                  data-bs-toggle="modal"
                  data-bs-target="#loginModal"
                >
                  로그인
                </button>
                <% } else { %>
                <a href="/user/profile" class="btn">내 프로필</a>
                <a href="/user/logout">
                  <span
                  class="btn ghostBtn">로그아웃</span>
                
                </a>
                <% } %>
              </nav>
            </div>
          </li>
            </ul>
        </div>
    </div>
</nav>


</ul>
</div>
</header>
<!-- 로그인 모달창 -->
<div
class="modal fade"
id="loginModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
<div class="modalBackground modal-content">
  <div class="modal-header">
    <h1 class="modal-title w-100 fs-5 text-center" id="exampleModalLabel">
      새싹 스터디 🌱
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form name="login">
      <div class="loginEmail form-floating mb-2">
        <input
          type="email"
          class="form-control modalInputBackground"
          id="loginEmail"
          placeholder="name@example.com"
          value="<% if (cookieEmail !== undefined) { %>
            <%= cookieEmail %>
          <% } %>"
        />
        <label for="loginEmail">이메일</label>
      </div>
      <div class="loginPw form-floating">
        <input
          type="password"
          class="form-control modalInputBackground"
          id="loginPw"
          placeholder="Password"
          pattern=".+@\."
          value="<%= cookiePw %>"
        />
        <label for="loginPw">비밀번호</label>
      </div>
      <div class="errorMsg mt-3 ms-2" id="loginMsg"></div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <div>
      <a
        href=""
        class="text-decoration-none"
        data-bs-toggle="modal"
        data-bs-target="#registerModal"
        ><span class="fs-6 text-secondary"
          >아이디가 없으신가요? 회원가입하러 가기!</span
        ></a
      >
    </div>
    <div class="form-check text-start my-3">
      <input
        class="form-check-input"
        type="checkbox"
        value="remember-me"
        id="loginRemainCheckBox"
      />
      <label class="form-check-label" for="loginRemainCheckBox">
        로그인 정보 기억하기
      </label>
    </div>
    <button
      class="btn w-100 py-2"
      id="postLogin"
      type="button"
      onclick="postLogin()"
    >
      로그인
    </button>
  </div>
</div>
</div>
</div>

<!-- 회원가입 모달창 -->
<div
class="modal fade"
id="registerModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered"> 
<div class="modalBackground modal-content">
  <div class="modal-header">
    <h1 class="modal-title w-100 fs-5 text-center" id="exampleModalLabel">
      🔖 회원가입
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form name="register">
      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control modalInputBackground"
          id="registerName"
          placeholder="김땡땡"
        />
        <label for="registerName">닉네임</label>
        <button
        type="button"
        class="checkNickBtn btn position-absolute top-50 end-0 translate-middle-y me-3"
        onclick="checkNameDuplicate(this)"
        id="checkNickBtn"
      >
        중복체크
      </button>
      </div>
      <div class="checkNameMsg mb-1 ms-2" id="checkNameMsg"></div>      
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control modalInputBackground"
          id="registerEmail"
          placeholder="name@example.com"
        />
        <label for="registerEmail">이메일</label>
        <button
          type="button"
          class="checkEmailBtn btn position-absolute top-50 end-0 translate-middle-y me-3"
          onclick="checkEmailDuplicate(this)"
          id="checkEmailBtn"
        >
          중복체크
        </button>
      </div>
      <div class="checkEmailMsg mb-1 ms-2" id="checkEmailMsg"></div>
      <div class="checkEmailMsg mb-1 ms-2" id="checkEmailMsg"></div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control modalInputBackground"
          id="registerPw"
          placeholder="Password"
        />
        <label for="registerPw"
          >비밀번호(대소문자, 특수문자, 숫자 포함 8자리 이상)</label
        >
      </div>
      <div class="errorMsg mt-3 ms-2" id="registerMsg"></div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <div>
      <a
        href=""
        class="text-decoration-none"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        ><span class="fs-6 text-secondary"
          >앗, 아이디가 있으시다구요? 로그인하기!</span
        ></a
      >
    </div>
    <button
      class="btn w-100 py-2"
      id="postRegister"
      type="button"
      onclick="postRegister()"
    >
      회원가입
    </button>
  </div>
</div>
</div>
</div>
