<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹커뮤니티</title>
    <!-- CDN -->
    <%- include('./cdn/cdn.ejs') %>
    <!-- Developer custom -->
    <%- include('./developer/main.ejs') %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>
          <!-- 로고 이미지 -->
          <a href="/"><img src="/static/images/ssac-logo.png" alt="" /></a>
        </h1>

        <!-- 헤더 카테고리 -->
        <nav class="mainNavigation navbar">
          <a href="#" class="me-3">PAGE1</a>
          <a href="#" class="me-3">PAGE2</a>
          <a href="#" class="me-3">PAGE3</a>
          <a href="/board/register" class="me-3">
            <span class="">📝</span>
            <span class="">게시글 조회</span>
          </a>
          <!-- 로그인 버튼 -->
          <button
            id="loginBtn"
            type="button"
            class="btn fw-bold"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            로그인
          </button>
        </nav>

        <!-- 더보기 버튼 -->
        <button class="moreBtn">
          <i class="icon"></i>
        </button>
      </div>
    </header>
    <!-- 로그인 모달창 -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modalBackground modal-content">
          <div class="modal-header">
            <h1
              class="modal-title w-100 fs-5 text-center"
              id="exampleModalLabel"
            >
              새싹 스터디 🌱
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form name="login">
              <div class="loginEmail form-floating mb-2">
                <input
                  type="email"
                  class="form-control modalInputBackground"
                  id="loginEmail"
                  placeholder="name@example.com"
                />
                <label for="loginEmail">이메일</label>
              </div>
              <div class="loginPw form-floating">
                <input
                  type="password"
                  class="form-control modalInputBackground"
                  id="loginPw"
                  placeholder="Password"
                  pattern=".+@\."
                />
                <label for="loginPw">비밀번호</label>
              </div>
              <div class="errorMsg mt-3 ms-2" id="loginMsg"></div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <div>
              <a
                href=""
                class="text-decoration-none"
                data-bs-toggle="modal"
                data-bs-target="#registerModal"
                ><span class="fs-6 text-secondary"
                  >아이디가 없으신가요? 회원가입하러 가기!</span
                ></a
              >
            </div>
            <div class="form-check text-start my-3">
              <input
                class="form-check-input"
                type="checkbox"
                value="remember-me"
                id="loginRemainCheckBox"
              />
              <label class="form-check-label" for="loginRemainCheckBox">
                로그인 정보 기억하기
              </label>
            </div>
            <button
              class="btn w-100 py-2"
              id="postLogin"
              type="button"
              onclick="postLogin()"
            >
              로그인
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 회원가입 모달창 -->
    <div
      class="modal fade"
      id="registerModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modalBackground modal-content">
          <div class="modal-header">
            <h1
              class="modal-title w-100 fs-5 text-center"
              id="exampleModalLabel"
            >
              🔖 회원가입
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form name="register">
              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control modalInputBackground"
                  id="registerName"
                  placeholder="김땡땡"
                />
                <label for="registerName">이름</label>
              </div>
              <div class="form-floating mb-2">
                <input
                  type="email"
                  class="form-control modalInputBackground"
                  id="registerEmail"
                  placeholder="name@example.com"
                />
                <label for="registerEmail">이메일</label>
                <button
                  type="button"
                  class="checkBtn btn position-absolute top-50 end-0 translate-middle-y me-3"
                  onclick="checkDuplicate(this)"
                  id="checkBtn"
                >
                  중복체크
                </button>
              </div>
              <div class="checkEmailMsg mb-1 ms-2" id="checkEmailMsg"></div>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control modalInputBackground"
                  id="registerPw"
                  placeholder="Password"
                />
                <label for="registerPw"
                  >비밀번호(대소문자, 특수문자, 숫자 포함 8자리 이상)</label
                >
              </div>
              <div class="errorMsg mt-3 ms-2" id="registerMsg"></div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <div>
              <a
                href=""
                class="text-decoration-none"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
                ><span class="fs-6 text-secondary"
                  >앗, 아이디가 있으시다구요? 로그인하기!</span
                ></a
              >
            </div>
            <button
              class="btn w-100 py-2"
              id="postRegister"
              type="button"
              onclick="postRegister()"
            >
              회원가입
            </button>
          </div>
        </div>
      </div>
    </div>

    <main class="heroBg">
      <!-- 영상 소스 -->
      <div class="videoWrap dpn">
        <img src="images/sample.png" alt="" />
        <video
          src="images/1041512128-preview.mp4"
          muted
          autoplay
          loop
          poster="images/sample.png"
        ></video>
      </div>
      <!-- 메인 소개 글 -->
      <div class="container">
        <div class="textWrap">
          <h2>새싹 가나다라<br />커뮤니티</h2>
          <h3>프론트엔드 + 백엔드 + 가나다라</h3>
          <p>
            새싹 커뮤니티 전용 어쩌고<br />
            저쩌고 가다나라마바사 커뮤니티입니다.
          </p>
          <div class="btnWrap">
            <a class="btn" href="/board/register">글쓰기</a>
            <a
              href=""
              class="text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#registerModal"
              ><span class="btn ghostBtn">가입하기</span></a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
