<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹커뮤니티</title>
    <!-- CDN -->
    <%- include('./includes/cdn.ejs') %>
    <!-- login.js -->
    <script defer src="/static/js/loginRegister.js"></script>
    <!-- main -->
    <link rel="stylesheet" href="/static/css/index.css" />

  </head>

  <body>
    <!-- header -->
    <%- include('./includes/header.ejs') %>
    <main class="heroBg">
      <!-- 메인 소개 글 -->
      <div class="indexContainer container d-flex flex-column justify-content-center">
        <div class="row">
          <!-- 왼쪽 열: 메인 소개 글 -->
          <div class="col-md-6">
            <div class="textWrap">
              <h2>새싹 커뮤니티</h2>
              <h3>프론트엔드 + 백엔드 + 가나다라</h3>
              <p>
                새싹 커뮤니티 전용 어쩌고<br />
                저쩌고 가다나라마바사 커뮤니티입니다.
              </p>
              <div class="btnWrap">
                <% if (typeof session==='undefined' ) { %>
                  <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#loginModal"><span
                      class="btn">글 작성하기</span></a>
                  <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#registerModal"><span
                      class="btn ghostBtn">가입하기</span></a>
                  <% } else { %>
                    <a href="/board/register" class="btn">글쓰기</a>
                    <% } %>
              </div>
            </div>
          </div>


      <!-- 오른쪽 열: 게시판 소개 카드 추가 -->
      <section class="trending-podcast-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block custom-block-full">
                        <div class="custom-block-image-wrap">
                            <a href="detail-page.html">
                            </a>
                        </div>
                        <div class="custom-block-info">
                            <h5 class="mb-2">
                                <a href="detail-page.html">
                                    # 웹
                                </a>
                            </h5>
                            <br><br>
                            <div class="profile-block d-flex">
                                <h6>제목제목</h6>
                            </div>

                            <p class="mb-0">내용내용Lorem Ipsum dolor sit amet consectetur</p>
                            <br>
                            <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block custom-block-full">
                        <div class="custom-block-image-wrap">
                            <a href="detail-page.html">
                            </a>
                        </div>
                        <div class="custom-block-info">
                            <h5 class="mb-2">
                                <a href="detail-page.html">
                                    # 웹
                                </a>
                            </h5>
                            <br><br>
                            <div class="profile-block d-flex">
                                <h6>제목제목</h6>
                            </div>

                            <p class="mb-0">내용내용Lorem Ipsum dolor sit amet consectetur</p>
                            <br>
                            <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block custom-block-full">
                        <div class="custom-block-image-wrap">
                            <a href="detail-page.html">
                            </a>
                        </div>
                        <div class="custom-block-info">
                            <h5 class="mb-2">
                                <a href="detail-page.html">
                                    # 웹
                                </a>
                            </h5>
                            <br><br>
                            <div class="profile-block d-flex">
                                <h6>제목제목</h6>
                            </div>

                            <p class="mb-0">내용내용Lorem Ipsum dolor sit amet consectetur</p>
                            <br>
                            <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <!-- boards사용 예시 -->
        <div class="rank">
          <ol>
            <% for (i=0;i<boards.length;i++) { %>
            <li><%= boards[i].title %></li>
            <% } %>
          </ol>
        </div>
      </div>

    </main>
  </body>
</html>
