<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹커뮤니티</title>
    <!-- CDN -->
    <%- include('./cdn/cdn.ejs') %>
    <!-- Developer custom -->
    <%- include('./developer/main.ejs') %>
  </head>

  <body>
    <!-- header -->
    <%- include('./includes/header.ejs') %>
    <main class="heroBg">
      <!-- 영상 소스 -->
      <div class="videoWrap dpn">
        <img src="images/sample.png" alt="" />
        <video
          src="images/1041512128-preview.mp4"
          muted
          autoplay
          loop
          poster="images/sample.png"
        ></video>
      </div>
      <!-- 메인 소개 글 -->
      <div class="container">
        <div class="textWrap">
          <h2>새싹 가나다라<br />커뮤니티</h2>
          <h3>프론트엔드 + 백엔드 + 가나다라</h3>
          <p>
            새싹 커뮤니티 전용 어쩌고<br />
            저쩌고 가다나라마바사 커뮤니티입니다.
          </p>
          <div class="btnWrap">
            <a class="btn" href="/board/register">글쓰기</a>
            <% if (typeof isLogin === 'undefined') { %>
            <a
              href=""
              class="text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#registerModal"
              ><span class="btn ghostBtn">가입하기</span></a
            >
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
