<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 스터디 모집 커뮤니티!!</title>
  </head>
  <body>
    <h1>메인 화면 입니다.</h1>
  </body>
</html>
