/* 변수 설정 */
:root {
  --main-btn-background-color: #a2c579;
  --main-btn-text-color: #363638;
  --main-btn-hover-color: #8ddf2f;
  --modal-background-color: #ffffdd;
  --modal-input-background-color: #ffffea;
  --input-border-color: rgba(151, 186, 39, 0.5);

  /* 메인 게시글 카드 */
  --white-color: #ffffff;
  --primary-color: #8ddf2f;
  --secondary-color: #0066cc;
  --section-bg-color: #f0f0f0;
  --custom-btn-bg-color: #0066cc;
  --custom-btn-bg-hover-color: #00cc99;
  --dark-color: #000000;
  /* --p-color:                      #717275; */
  /* --border-color:                 #7fffd4; */
  /* --link-hover-color:             #0066CC; */

  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --p-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --header-height: 70px;
}

/* 스크롤바 찾는 중,,, */
/* 가로 스크롤바를 숨김 */
/* body {
  overflow-x: hidden;
} */

/* 세로 스크롤바는 필요한 경우 자동으로 생성 */
/* body {
  overflow-y: scroll;
} */

/* 스크롤 바 없애기 */
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}




/* Common */
a {
  text-decoration: none;
  color: var(--main-btn-text-color);
}

body {
  background-color: #f8f9fa;
}

/* 헤더 높이 설정 */
header nav > div.container {
  height: var(--header-height);
  width: 100%;
}

/* 모달 창 설정 */
.form-control:focus {
  border-color: var(--input-border-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(134, 151, 59, 0.5);
}

/* Colors */
/* 모달창 배경 색상 설정 */
.modalBackground {
  background-color: var(--modal-background-color);
}

/* 모달 input 색상 설정 */
.modalInputBackground {
  background-color: var(--modal-input-background-color);
}

/* 모달 창 에러 메세지 */
.errorMsg {
  color: red;
}

/* 버튼 그냥, 호버, 포커스, 투명버튼, 투명버튼 호버에 대한 설정 */
.btn {
  /* color: var(--main-btn-text-color); */
  background-color: var(--main-btn-background-color);
}

.btn:hover {
  background-color: var(--main-btn-hover-color);
}

.btn:focus {
  background-color: var(--main-btn-hover-color);
}

.ghostBtn {
  background-color: transparent;
  border: 1px solid var(--main-btn-background-color);
}

.ghostBtn:hover {
  color: var(--main-btn-text-color);
}

@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }

  /* 가로 스크롤바를 숨김 */
body {
  overflow-x: hidden;
}

/* 세로 스크롤바는 필요한 경우 자동으로 생성 */
body {
  overflow-y: scroll;
}

}
