header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 3;
}

header h1 {
  position: relative;
  height: 40px;
  margin: 0;
  float: left;
  z-index: 3;
}

header h1 img {
  display: block;
  position: relative;
  width: 60px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

.mainNavigation {
  float: right;
}

.mainNavigation a {
  color: black;
  margin-left: 20px;
}

.mainNavigation a.active {
  font-weight: bold;
  border-bottom: 2px solid #004fff;
}
