/* 모든 파일 공통 CSS */
@import url('/static/css/common.css');

/* main css */
body {
  background-color: gainsboro;
}

/* 메인 화면 내용물 위치 */
.indexContainer {
  height: 100vh;
}

/* 메인 텍스트 css */
/* 메인 텍스트 박스 */
.textWrap {
  margin-top: 30%; 
}

/* 메인 첫번째 텍스트 */
.textWrap h2 {
  color: black;
  font-size: 64px;
  line-height: 1.25;
  font-weight: lighter;
  margin-bottom: 40px;
}

/* 메인 두번째 텍스트 */
.textWrap h3 {
  color: black;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;
}

/* 메인 세번째 텍스트 */
.textWrap p {
  color: black;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}


/* 메인 텍스트 반응형 */
@media screen and (max-width: 768px) {

/* 메인 텍스트 css */
  .textWrap {
    width: 100%;
    height: auto;
    padding: 20px;
    top: auto;
    bottom: 20px;
  }
  .textWrap h2 {
    font-size: 36px;
  }
  .textWrap h3 {
    font-size: 20px;
  }
  .textWrap p {
    font-size: 14;
  }
}

@media screen and (max-width: 480px) {
}
