/* 모든 파일 공통 CSS */
@import url('/static/css/common.css');

/* 메인 화면 내용물 위치 */
.indexContainer {
  margin-top: calc(var(--header-height) + 10px);
}

/* 메인 텍스트 css */
/* 메인 텍스트 박스 */
.textWrap {
  margin-top: 30%;
}

/* 메인 첫번째 텍스트 */
.textWrap h2 {
  color: black;
  font-size: 64px;
  line-height: 1.25;
  font-weight: lighter;
  margin-bottom: 40px;
}

/* 메인 두번째 텍스트 */
.textWrap h3 {
  color: black;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;
}

/* 메인 세번째 텍스트 */
.textWrap p {
  color: black;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* 메인 텍스트 반응형 */
@media screen and (max-width: 768px) {
  /* 메인 텍스트 css */
  .textWrap {
    width: 100%;
    height: auto;
    padding: 20px;
    top: auto;
    bottom: 20px;
  }
  .textWrap h2 {
    font-size: 36px;
  }
  .textWrap h3 {
    font-size: 20px;
  }
  .textWrap p {
    font-size: 14;
  }
}

@media screen and (max-width: 480px) {
}

/*=================================================*/

/* 메인페이지 게시글 카드 설정 */
/* 카드 a태그 컬러 설정 */
a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

/* 카드 a태그 호버 컬러 설정 */
a:hover {
  color: var(--link-hover-color);
}

/* 카드 css 설정 */
.custom-block {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
}

/* 카드에 마우스 올렸을 때 위로 올라오는 */
.custom-block:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-color: transparent;
  transform: translateY(-3px);
}

/* 마우스를 올릴 때 배경 색상이 변경 */
.custom-block .custom-block-info + div .badge:hover {
  background-color: var(--secondary-color);
}

/* 박스 hover하기 전 배경 색 */
.custom-block-full {
  background-color: var(--section-bg-color);
  border-color: transparent;
}

/* 박스 hover 테두리 */
.custom-block-full:hover {
  border-color: var(--primary-color);
}
