/* 변수 설정 */
:root {
  --main-btn-background-color: #a2c579;
  --main-btn-text-color: #363638;
  --main-btn-hover-color: #83c13b;
  --modal-background-color: #ffffdd;
  --modal-input-background-color: #ffffea;
  --input-border-color: rgba(151, 186, 39, 0.5);
}

/* Common */
.form-control:focus {
  border-color: var(--input-border-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(134, 151, 59, 0.5);
}

.btn {
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-background-color);
}

.btn:hover {
  background-color: var(--main-btn-hover-color);
}

/* Colors */
/* 모달창 배경 색상 설정 */
.modalBackground {
  background-color: var(--modal-background-color);
}

/* 모달 input 색상 설정 */
.modalInputBackground {
  background-color: var(--modal-input-background-color);
}
