/* 스터디 관리 페이지 */
/* Common */
a {
  text-decoration: none;
  color: #3c3c3c;
}

/* 스터디 구분 한 컨테이너 */
.studySection {
  height: 200px;
}

/* 모집중 / 참여중 스터디 섹션 */
.studyStatus {
  height: 100%;
  background-color: rgb(164, 207, 164);
}

/* 각 스터디에 대한 정보 확인할 수 있는 곳 */
.studyInfo {
  height: 80%;
}

.studyInfo .card {
  width: 200px;
  margin-right: 10px;
}

/* 스터디 정보 맨 마지막 항목은 마진 0 */
.studyInfo > div:last-child {
  margin: 0;
}
