<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새싹 커뮤니티</title>
    <!-- CDN -->
    <%- include('../cdn/cdn.ejs') %>
    <!-- Developer custom -->
    <%- include('../developer/postBoard.ejs') %>
    <style>
      body {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <form
      name="data"
      action="/board/register"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="postWrap container w-75">
        <h1 class="fw-bold">새싹 스터디 게시판 🌱</h1>
        <input type="hidden" name="userSeq" value="1" />
        <div class="row border-black border-top border-bottom mb-3">
          <div class="col-lg-12 py-3 border-bottom">
            <span class="col-lg-12 me-5 postTitle">제목</span>
            <input
              class="col-lg-6"
              type="text"
              name="title"
              placeholder="제목 입력"
            />
          </div>
        </div>
        <div class="row">
          <textarea
            name="content"
            id="content"
            cols="100"
            rows="15"
            placeholder="내용 입력"
          ></textarea>
        </div>
        <div
          class="file row border d-flex justify-content-between align-items-center p-2 mt-2"
        >
          <input
            class="fileName"
            value=""
            placeholder="첨부파일"
            type="text"
            disabled
          />
          <label
            class="inputFileBtn col-6 badge text-bg-secondary me-3"
            for="postFile"
            >업로드</label
          >
          <input type="file" name="uploadFile" id="postFile" />
          <!-- 백과 uploadFile로 name 통일 -->

        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="postBtn btn btn-secondary fw-bold mt-3">
            글 작성
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
