/* 공통 CSS 파일을 가져와서 사용 */
@import url('../common.css');

/* ========================================================================= */

/* 게시판 목록 메인 컨텐츠 시작 위치 설정 */
.boardContainer {
  margin-top: calc(var(--header-height) + 50px);
  white-space: nowrap;
}

/* ========================================================================= */

/* 게시판 제목 스타일 설정 */
.board_title {
  margin-bottom: 30px; /* 제목 아래 여백 설정 */
}

.board_title p {
  margin-top: 5px; /* 제목과 내용 사이의 여백 설정 */
}

/* ========================================================================= */
/* 게시물 목록 스타일 설정 */

.board_list div.card {
  background-color: #becead;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* ========================================================================= */
/* 페이지 번호 스타일 설정 */
.pageWrap {
  height: 32px;
}

.board_page {
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 16px; /* 페이지 번호 텍스트 크기 설정 */
}

.board_page div {
  width: 32px; /* 페이지 번호 요소 너비 설정 */
  height: 32px; /* 페이지 번호 요소 높이 설정 */
  box-sizing: border-box; /* 요소 박스 크기 설정 */
  border: 1px solid #ddd; /* 페이지 번호 테두리 설정 */
  border-left: 0; /* 페이지 번호 왼쪽 테두리 제거 */
  line-height: 100%; /* 줄 높이 설정 */
  cursor: pointer; /* 커서 포인터로 변경 */
}

.board_page div:first-child {
  border-left: 1px solid #ddd; /* 첫 번째 페이지 번호 왼쪽 테두리 설정 */
}

/* ========================================================================= */

/* 애니메이션 효과 설정 */
@keyframes fadeIn {
  from {
    opacity: 0; /* 시작 시 투명도 0 */
  }
  to {
    opacity: 1; /* 종료 시 투명도 1 */
  }
}

/* 반응형 스타일 설정 */
@media (max-width: 1000px) {
  .board_wrap {
    width: 100%; /* 컨테이너 전체 너비 설정 */
    min-width: 320px; /* 컨테이너 최소 너비 설정 */
    padding: 0 30px; /* 컨테이너 내부 여백 설정 */
    box-sizing: border-box; /* 컨테이너 박스 크기 설정 */
  }

  .board_list .num,
  .board_list .writer,
  .board_list .count {
    display: none; /* 번호, 작성자, 조회수 숨김 */
  }

  .board_list .date {
    width: 40%; /* 작성일 칼럼 너비 설정 */
  }

  .board_list .top .title {
    text-indent: 0; /* 상단 제목 들여쓰기 초기화 */
  }

  .board_page a {
    width: 26px; /* 페이지 번호 요소 너비 설정 */
    height: 26px; /* 페이지 번호 요소 높이 설정 */
  }

  .board_page a.bt {
    padding-top: 7px; /* 페이지 번호 버튼 상단 패딩 설정 */
  }

  .board_page a.num {
    padding-top: 6px; /* 페이지 번호 숫자 상단 패딩 설정 */
  }

  .board_view .info dl {
    width: 50%; /* 정보 요소 너비 설정 */
    padding: 0; /* 정보 요소 내부 여백 초기화 */
  }

  .board_view .info dl:nth-child(-n + 2) {
    margin-bottom: 5px; /* 상위 2개 정보 요소 간격 설정 */
  }

  .board_view .info dl::before {
    display: none; /* 정보 요소 구분선 숨김 */
  }

  .board_view .info dl dt,
  .board_view .info dl dd {
    font-size: 1.2rem; /* 정보 텍스트 크기 설정 */
  }

  .board_write .info dl {
    width: 49%; /* 정보 요소 너비 설정 */
  }

  .board_write .info dl:first-child {
    margin-right: 2%; /* 첫 번째 정보 요소 오른쪽 여백 설정 */
  }

  .board_write .title dt,
  .board_write .info dt {
    display: none; /* 제목과 정보 레이블 숨김 */
  }

  .board_write .title dd,
  .board_write .info dd {
    width: 100%; /* 데이터 요소 전체 너비 설정 */
  }

  .board_write .title input[type='text'],
  .board_write .info input[type='text'],
  .board_write .info input[type='password'] {
    width: 100%; /* 입력 필드 전체 너비 설정 */
  }
}
